asn1crypto==0.22.0
boto3==1.4.7
botocore==1.7.9
cffi==1.10.0
click==6.7
credstash==1.13.3
cryptography==2.0.3
cssmin==0.2.0
docutils==0.14
Flask==0.12.2
Flask-Assets==0.12
Flask-Session==0.3.1
idna==2.6
itsdangerous==0.24
Jinja2==2.9.6
jmespath==0.9.3
jsmin==2.2.2
MarkupSafe==1.0
pycparser==2.18
python-dateutil==2.6.1
s3transfer==0.1.11
sass==2.3
six==1.10.0
watchtower==0.4.0
webassets==0.12.1
Werkzeug==0.12.2
